*{
    box-sizing: border-box;
}
@page{
    size:A4 portrait;
    margin:0;
}
html{
    padding:0;
    margin:0;
    font-size: 10pt;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {page-break-after: always;}
.pagebreak{page-break-before: always;}

.zoom {
    display: inline-block;
}
.zoom svg {
    width: 1em;
    height: 1em;
}

.center {
    text-align: center;
}

h1 {
    font-size: x-large;
    margin-top: 0;
}
/** grilles */
.grid{
    display:grid;
    column-gap: 2mm;
    row-gap:2mm;
    overflow: hidden;
}

.grid {
    --gap: 2mm;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 0.3mm;
    --line-color: rgb(124, 119, 119);
}
.grid.separationh > article {
    position: relative;
}
.grid.separationh > article::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
    inline-size: 19cm;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

.grid.separationv > article {
    position: relative;
}
.grid.separationv > article:nth-child(odd):before {
    content: ""; /* Crée un élément fantôme pour contenir la ligne séparatrice */
    display: block;
    width: var(--line-thickness); /* Fait que l'élément fantôme occupe l'espace total de la cellule */
    height: 100%; /* Définit la hauteur de la ligne séparatrice */
    position: absolute; /* Fixe l'élément fantôme en bas de la cellule */
    bottom: 0; /* Place l'élément fantôme au fond de la cellule */
    right: var(--line-offset); /* Positionne l'élément fantôme en plein centre horizontalement */
    margin-left: -0.5px; /* Ajuste la position de gauche pour centrer correctement la ligne séparatrice */
    background-color: var(--line-color);
}

/** color peaker */
input[type="color"] {
    appearance: none;
    width: 1em;
    height: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

.fig, .threecubes, .scratchblocks {
    width:90%;
    display:flex;
    justify-content: center;
    /* height: 150px;
    aspect-ratio: 4 / 3;*/
}

.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
custom-svg svg .correction {
  display: none;
}
custom-svg.corrige svg .correction {
  display: initial;
}
.questionTitre {
    font-weight: bold;
}
.question {
    position: relative;
}
.modele1 .questionNumero {
    float: left;
    margin-left:-3mm;
    margin-top: -3mm;
    width: 2em;
    text-align: center;
    border-radius: 0 0 1em;
    padding: 2pt;
    font-weight: bold;
}

input[type='color'] {
width: 2.6em;
border: 1px solid black;
position: relative;
top: 5px;
}
/* Commons
*/
#creator-container {
    display: flex;
    min-height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    font-size: 1.3rem;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:2rem;
    color:grey;
}
.clearfix {
    clear:both;
}

:root {
    --border-color: rgb(124, 119, 119);
}
/* Modèle 1 */
.modele1 .reviser {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    justify-items: stretch;
    column-gap: 10px;
    width: fit-content;
}
.reviser > div {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}
.reviser > div > div:nth-of-type(odd) {
    text-align: right;
}
.reviser > div > div:nth-of-type(even) {
    padding-left: 1em;
}

/* Modèle 2 */
.recto, .verso {
    height: 100%;
    width: 100%;
}
.recto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.verso {
    display: grid;
    grid-template-columns: calc( (50% - 1cm) / 2) calc( (50% - 1cm ) / 2 + 1cm) calc( (50% - 1cm ) / 2 + 1cm) calc( (50% - 1cm) / 2);
}

.recto .left {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1cm;
    border-right: 0.6pt solid var(--border-color);
}
.recto .right {
    height: 100%;
    display: grid;
    grid-template-columns: 1cm 1fr;
}

.modele2 .questionNumero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.modele2 .left .questionNumero {
    border-left: 0.6pt solid var(--border-color);
}
.modele2 .right .questionNumero {
    border-right: 0.6pt solid var(--border-color);
}
.modele2 .questionNumero:not(:last-of-type), .modele2 .left > article:not(:last-of-type), .modele2 .right > article:not(:last-of-type), .modele2 .questions > article:not(:last-of-type) {
    border-bottom: 0.6pt solid var(--border-color);
}

.verso .col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    border-right: 1pt solid var(--border-color);
}

.verso .questions {
    display: grid;
    grid-template-columns: 1fr;
}
.verso .questions > article, .recto .left > article, .recto .right > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aColler {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100M0 0 L100 100' stroke='rgb(187, 187, 187)' stroke-width='1'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border-right: 1pt solid var(--border-color);
  border-left: 1pt solid var(--border-color);
}
#instructions {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0.5cm;
}
#instructions h2 {
    text-align: center;
}

.hidden {
    display: none !important;
}
label {
    cursor: pointer;
}

@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body[size="A4"] .page {
        width: 21cm;
        height: 29.7cm;
    }

    body[size="A4"][layout="landscape"] .page {
        width: 27.7cm;
        height: 21cm;
    }

    body {
        position: relative;
        margin: auto;
    }

    #creator-menu {
        padding: 1em;
    }
    #creator-content.page {
        padding: 10mm;
    }
    .page {
        position: relative;
        background: white;
        display: block;
        margin: 1em auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }    
    /*footer.break::before,
    .pagebreak::before {
        content: ' ';
        position: absolute;
        display: block;
        box-shadow: 0 0.2cm 0.2cm rgba(0, 0, 0, 0.5);
        height: 5mm;
        width: 210mm;
        margin-left: -10mm;
        z-index: 5;
    }

    .pagebreak,
    footer.break {
        margin-bottom: 2.5cm;
    }

    .pagebreak::after,
    footer.break::after {
        position: absolute;
        z-index: 2;
        content: ' ';
        display: block;
        margin-top: 5mm;
        height: 0.5cm;
        width: 220mm;
        margin-left: -15mm;
        background-color: rgb(204, 204, 204);
    }

    body[size="A4"][layout="landscape"] .pagebreak::after {
        width: 307mm;
    }

    body[size="A4"][layout="landscape"] .pagebreak::before {
        width: 297mm;
    }*/

    #creator-menu {
        font-size: 10.5pt;
        position: relative;
    }

    .noprint {
        opacity: 0.6;
    }
}
@media print {
    html {
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    body[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

    body[size="A4"][layout="landscape"] {
        width: 29.7cm;
        min-height: 21cm;
    }
    #creator-content.page {
        padding: 10mm;
    }

    #creator-menu {
        display: none;
    }

    .noprint {
        display: none;
    }
/*
    .enonceContent:not(:first-of-type) {
        margin-top: 1cm;
    }*/
}