*{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    font-size: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body[size="A4"]{
    width: 21cm;
  min-height: 29.7cm;
}
body[size="A4"][layout="landscape"]{
    width: 27.7cm;
    min-height: 21cm;
}
@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body {
        position: relative;
        padding: 10mm;
        background: white;
        display: block;
        margin: 0.5em auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    .noprint {
        opacity: 0.6;
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
}
svg {
    width: 100%;
}
svg foreignObject {
    text-align: center;
}
svg foreignObject > div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#svg5 {
    font-size: 0.35em;
}
.svg8 {
    font-size: 0.6em;
}